<!--      {% include calendar.html %} -->
  <section>
    <h2>分类</h2>
    <ul>
      {% assign categories = site.categories | sort %}
      {% for category in categories %}
        <li><a href="{{ site.baseurl }}/category/{{ category[0] | slugify | uri_escape }}">{{ category[0] }}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section class="tagcloud">
    <h2>标签</h2>
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag[0] | slugify | uri_escape }}">{{ tag[0] }}</a>
    {% endfor %}
  </section>
  <section>
    <h2>近期文章</h2>
    <ul>
      {% for post in site.posts limit: 5 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% if page.url contains "posts" %}
  {% assign aside_sticky = "" %}  <!-- 文章详情页面，右侧边栏只有文章目录索引卡片弹性置顶 -->
  {% else %}
  {% assign aside_sticky = "aside-sticky" %}  <!-- 非文章详情页面，右侧边栏所有卡片弹性置顶 -->
  {% endif %}
  <div class="card position-sticky">{% include post-menu.html %}</div>
