<script src="{{ site.baseurl }}/assets/js/calendar.js"></script>
<div class="calendar">
  <h5 class="green" id="calendar-title">Month</h5>
  <h6 class="green small" id="calendar-year">Year</h6>
  <a href="" id="prev">Prev Month</a>
  <a href="" id="next">Next Month</a>
</div>
<div class="body">
  <div class="lightgrey body-list">
    <ul>
      <li>MON</li>
      <li>TUE</li>
      <li>WED</li>
      <li>THU</li>
      <li>FRI</li>
      <li>SAT</li>
      <li>SUN</li>
    </ul>
  </div>
  <div class="darkgrey body-list">
    <ul id="days">
    </ul>
  </div>
</div>
