{% if include.list %}
	<ul>
		{% for entry in include.list %}
			<li>
				<a href="{{ entry.href | replace_first: "/", "%%/" | replace: "%%//", "//" | replace: "%%", site.baseurl }}">
					{% assign navigation = entry.navigation | map: "href" %}

					{% if entry.href == page.url or navigation contains page.url %}
						<strong>{{ entry.title }}</strong>
					{% else %}
						{{ entry.title }}
					{% endif %}
				</a>
				{% include menu.liquid list=entry.navigation %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
