html {
	box-sizing: border-box;
	min-height: 50%;
}

/* *,  // *表示所有的标签都有的属性，表示所有的标签都遵循的统一样式
::before,
::after {
	box-sizing: inherit;
}

hr {   // hr为文档中的横线
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
} */

ul { //ul为有序列表，ol为无序列表，li为列表项目
	margin: 0 0 0 1.25em;
	padding: 0;
}

ol {
	margin: 0.25em 0 0.25em 2em;
	padding: 0;
}

/*
dl, //dl为列表的外包，dt为列表标题，dd为列表内容
dd {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
} */

img {    //图片
	max-height: 10rem;
	max-width: 100%;
	vertical-align: middle;
}

del {  //类似于word中的文字删除线
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	width: 100%;
}

caption {
	font-weight: normal;
	text-align: start;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
	text-align: start;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

::placeholder {
	@extend .sans;
	color: #686868;
	opacity: 1;
}

/* back2top btn */
/*  Back Top Button  */
#back2top {
  position: fixed;
  bottom: 30px;
  right: 0%;
  margin-right: 40px;
  background-color: #aaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transition: 0.7s;
  /*behavior: url(/css/PIE.htc);*/
}
/*#back2top:hover {
  background-color: #777;
}*/
#back2top a {
  background: #ddd url(/assets/img/bg_up_arrow.png) no-repeat center center;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 14px;
  display: inline-block;
}
/* back2top btn end */
