//控制网页的文字排版
.sans {
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

html,
input,
select,
textarea {
	font-family: Merriweather, Georgia, "Times New Roman", Times, cursive;
	color: #1a1a1a;
	line-height: 1.5;
}

html {
	font-synthesis: weight;
	hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}


code {
  font-family: Monaco, monospace;
  font-size: 0.8em;
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}
