//控制网页的文字排版
.sans {
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

html,
input,
select,
textarea {
	font-family: Merriweather, Georgia, "Times New Roman", Times, cursive;
	color: #1a1a1a;
	line-height: 1.5;
}

html {
	font-synthesis: weight;
	hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

blockquote {
	border: 0 solid #1a1a1a;
	background-color: var(--bg);
  border-left: 0.5rem solid var(--disabled);
	color: #686868;
	font-size: 1rem;
	font-style: italic;
	line-height: 1.75rem;
	margin: 0.5em 0 0.5em 1.5em;
	padding: 0 0 0 1rem;
}

/*blockquote p {
	padding: 0;
  margin: 0;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 1rem;
	line-height: 1.75;

	&::before {
		content: "\2014\00a0";
	}
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote > :last-child {
	margin-bottom: 0;
} */

code,
kbd,
pre,
samp {
  font-family: Monaco, monospace;
  font-size: 0.8em;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.75rem;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

pre > code {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}

/*abbr {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}
*/
