#post-menu {
  min-height: 0.24rem;
  font-size: 0.14rem;
  overflow-y: auto;
  z-index: 1;
}
#post-menu .sidebar-panel-box {
  background-clip: content-box;
}
#post-menu .pin {
  width: 100%;
  height: 0.24rem;
  border-left: 0.03rem solid var(--brand);
  background-color: var(--bg);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  -webkit-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: top 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#post-menu .sidebar-panel-ul {
  list-style: none;
  position: relative;
  margin: 0;
}
#post-menu .sidebar-panel-ul li {
  height: 0.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#post-menu .sidebar-panel-ul li a {
  color: var(--text-secondary);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
#post-menu .sidebar-panel-ul li a:hover,
#post-menu .sidebar-panel-ul li a:focus,
#post-menu .sidebar-panel-ul li a:active,
#post-menu .sidebar-panel-ul li a:visited {
  color: var(--brand);
  text-decoration: none;
}
#post-menu .sidebar-panel-ul li a:visited,
#post-menu .sidebar-panel-ul li a:focus,
#post-menu .sidebar-panel-ul li a:active {
  font-weight: 400;
  color: var(--text-secondary);
}
#post-menu .sidebar-panel-ul li.is-active a {
  color: var(--brand);
}
#post-menu .sidebar-panel-ul .li-h3 {
  padding-left: 1em;
}
#post-menu .sidebar-panel-ul .li-h4 {
  padding-left: 2em;
}
#post-menu .sidebar-panel-ul .li-h5 {
  padding-left: 3em;
}
#post-menu .sidebar-panel-ul .li-h6 {
  padding-left: 4em;
}
#post .content {
  word-break: break-word;
}
#post .content h2,
#post .content h3,
#post .content h4,
#post .content h5,
#post .content h6 {
  padding-top: 0.8rem;
  margin-top: -0.6rem;
}
#post .content .post-img {
  text-align: center;
}
#post .content img {
  color: var(--disabled);
  width: auto;
  max-width: 60%;
  background: var(--bg);
  cursor: -webkit-zoom-in;
  padding: 0.1rem;
  border-radius: 0.03rem;
}
#post .content img + .img-alt {
  color: var(--disabled);
  font-size: 0.14rem;
  margin-top: 0;
}
#post .content a {
  color: var(--brand);
  text-underline-offset: 0.03rem;
}
#post .content .task-list {
  list-style: none;
  padding-left: 0.2rem;
}
#post .content .task-list .task-list-item input[type='checkbox'] {
  margin-right: 0.08rem;
}
#site-scroll {
  height: 100vh;
  overflow: auto;
}
#site-container {
  max-width: 12rem;
  display: flex;
  justify-content: start;
  padding: 0 0.1rem;
  margin: 0 auto;
}
#site-container #aside {
  flex: 1;
  width: 0;
  position: sticky;
  top: 0;
}
#site-container .container {
  flex: 5;
}
#main.aside-sticky {
  align-items: flex-start;
}
#main .main-view {
  flex: 1;
  min-height: calc(100vh - 1.04rem);
  width: 0;
  margin: 0 0.05rem 0 0;
}
#main .main-aside {
  width: 3rem;
  margin: 0 0 0 0.05rem;
}
#main .position-sticky {
  position: sticky;
  top: 0.6rem;
}
#main .position-sticky.card {
  display: none;
}
