---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tags.css">
<header>
	<h1>Tag: {{ page.title }}</h1>
	{{ content }}
</header>
{% assign tag = site.tags[page.title] %}
{% include zhongyi_series.liquid posts=tag %}
